@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@200&family=Glory&family=Open+Sans+Condensed:wght@700&family=Poppins:wght@200;300&family=Sarabun:wght@100&display=swap')
/*General Styles*/
.nav-style
    a
        font-family: 'Glory', sans-serif
        font-size: 1em
        font-weight: bold
.collapse-Nav
    justify-content: flex-end

.mid-container
    background-color: $lightGray

.contactUs
    padding-right: 15px !important
    border-right: 1px solid

.col-br-1
    @extend %border-style
.col-br-2
    @extend %border-style
.col-br-3
    @extend %border-style

ul
    list-style-type: none
    padding-left: 0

li
    a
        color: rgba(0, 0, 0, 0.623)
        font-size: 1em

/*Hypertext Style */
.container-title
    h2
        @extend %first-title
        font-size: 3em
    .text-info
        @extend  %text-info
.h2-footer
    font-size: 1.5em
    font-weight: bold

.h3-footer
    font-size: 1.4em
.text-title
    h2
        @extend %first-title
        font-size: 2.3em

h3
    @extend  %first-title
    font-size: 2em

/*Images styles*/
img
    height: 20px

.img-size
    height: 500px

.img-Personal
    width: 300px
.img-services
    height: 90px
    margin-bottom: 1.5em

/*Buttons styles*/
.btn-coffe
    @include btn($textWhite, $bgBtnWhite)
.btn-about
    @include btn($textWhite, $bgBtnWhite)

.btn-Services
    @include btn($textWhite, $bgBtnBlue)

.btn-All-Services
    @include btn(rgb(0, 0, 0),rgba(255, 255, 255, 0.843) )

.btn-All-Services:hover
    background-color: rgba(204, 185, 185, 0.753)

/*Animation Style*/

.type
    overflow: hidden
    animation: write 2.1s infinite alternate-reverse

.animate-bottom
    animation: fadeInBottom 1s

.our-Service-Fade
    animation: fadeInUp 2s
    h1
        @extend %first-title

/*KeyFrames*/

@keyframes fadeInBottom
    0%
        opacity: 0
        transform: translateY(100%)
    100%
        opacity: 1

@keyframes write
    0%
        width: 100%
    100%
        width: 0%

@keyframes fadeInUp
    from
        opacity: 0
    to
        opacity: 1

/*Media Query*/
@media screen and (max-width: 750px)
    .contactUs
        border-bottom: 1px solid
        border-right: none
    .col-br-2
        border-right: none
@media screen and (max-width: 415px)
    .col-br-1
        border-right: none
    .col-br-3
        border-right: none

@media screen and (max-width: 600px)
    .container-title
        h2
            font-size: 2em
    .img-size
        height: 300px
